/*======================
   01. Google fonts
========================*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

/*======================
   02. Basic css
========================*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	color: #616368;
	font-weight: 400;
	font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	color: #393542;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus,
a:focus {
	outline: none;
}

.f-left {
	float: left;
}
.f-right {
	float:right;
}





/* Header css */
.transparent-header {
	position: absolute;
    left: 0;
    right: 0;
}
.main-menu ul li {
    display: inline;
}
.main-menu ul li a {
    padding: 30px;
    color: #cfcfd8;
    font-size: 18px;
    font-weight: 700;
}